FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=change-this-secret-key
#DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/cafe_andino

DATABASE_URL=postgresql+psycopg2://user_cafeandino:7a1dmY1qncO8IPX3yWVsgdK06VNnCbvb@dpg-d89hbdn7f7vs73c7cgu0-a.virginia-postgres.render.com:5432/cafeandino0001

ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@cafeandino.local
ADMIN_PASSWORD=change-this-admin-password
ADMIN_FULL_NAME=Administrador Cafe Andino

SESSION_COOKIE_SECURE=false
SESSION_COOKIE_SAMESITE=Lax
MAX_CONTENT_LENGTH=16777216
CSV_UPLOAD_FOLDER=tmp/uploads
